.player {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.player__img-container {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}

.player__image {
  max-width: 600px;
  max-height: 300px;
}

.player__song-data {

}

.player__song-name {
  margin: 5px 0 10px;
  font-weight: 300;
  font-size: 1.2em;
}

.player__artist {
  margin: 0;
  font-weight: 300;
  color: var(--light-grey);
  font-size: 15px;
}

.player__seek-slider {
  display: flex;
  width: 100%;
  max-width: 600px;
  gap: 8px;
  align-items: center;
}

.player__current-time {
  font-weight: 300;
  font-size: 14px;
  color: var(--light-grey);
}

.player__seek-slider-value {
  appearance: none;
  width: 100%;
  height: 4px;
  background-color: var(--dark-grey);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.player__seek-slider-value:hover {
  height: 6px;
}

.player__seek-slider-value::-webkit-slider-thumb {
  appearance: none;
  width: 17px;
  height: 17px;
  background: #b8630f;
  border-radius: 50%;
  cursor: pointer;
}

.player__seek-slider-value::-moz-range-thumb {
  appearance: none;
  width: 17px;
  height: 17px;
  background: #b8630f;
  border-radius: 50%;
  cursor: pointer;
}

.player__total-time {
  font-weight: 300;
  font-size: 14px;
  color: var(--light-grey);
}

.player__btn-container {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

.player__main-btns {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.player__btn {
  padding: 0;
  cursor: pointer;
}

.player__btn_small {
  padding: 7px;
  border-radius: 50%;
  transition: background 0.3s;
  display: flex;
}

.player__btn_small:hover {
  background: #43414157;
}

.player__btn > span {
  display: block;
  background-size: contain;
}

.player__btn-prev > svg  {
  width: 23px;
  height: 23px;
}

.player__btn-play {
  border: 1px solid var(--dark-grey);
  border-radius: 50%;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.player__btn-play:hover {
  border-color: #b8630f;
}

.player__btn-play > svg {
  height: 21px;
  margin-left: 5px;
}

.player__play-icon {

}

.player__pause-icon {
  display: none;
}

.player__btn-play_inactive > .player__play-icon {
  display: none;
}

.player__btn-play_inactive > .player__pause-icon {
  display: block;
  margin-left: 0;
}

.player__btn-next > svg {
  /* background-image: url('../img/next.svg'); */
  width: 23px;
  height: 23px;
}

.player__btn-shuffle > svg {
  width: 18px;
  height: 18px;
}

.player__btn-repeat > svg {
  width: 18px;
  height: 18px;
}
